
spring:
  application.name: spring
  datasource:
    url: jdbc:postgresql://localhost:5432/consul_plan
    username: postgres
    password: postgres
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: testfist24@gmail.com
    password: xyoj cvkf evum nhmy
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

token:
  signing:
    key: "PromoIt"
server:
  port: 8080